html {
    font-family: "FlappyBird";
    color: white;
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    background-image: url("images/background.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: auto 100%;
    image-rendering: optimizeSpeed;
    image-rendering: crisp-edges;
}

.title {
    font-size: 3rem;
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: 0;
    flex-direction: column;
    text-shadow: -5px -5px 0 #000,
        5px -5px 0 #000,
        -5px 5px 0 #000,
        5px 5px 0 #000;
}

.bird {
    --bird-top: -1000;
    --bird-size: 75px;
    position: absolute;
    overflow: visible;
    width: var(--bird-size);
    height: calc(var(--bird-size) - 25px);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
}

.bird img {
    height: 100%;
    width: auto;
}

.jump {
    animation-name: rotateUp;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    transition: 400ms;
}

.falling {
    animation-name: rotateDown;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    transition: 250ms;
}

@keyframes rotateUp {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-25deg);
    }
}

@keyframes rotateDown {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(35deg);
    }
}


.pipe {
    position: absolute;
    top: 0;
    bottom: 150px;
    width: calc(var(--pipe-width) * 1px);
    left: calc(var(--pipe-left) * 1px);
}

.pipe>.segment {
    position: absolute;
    width: 100%;
}

.pipe>.top {
    top: 0;
    bottom: calc(var(--hole-top) * 1px);
    background-image: url(images/PipeTop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}

.pipe>.bottom {
    bottom: 0;
    top: calc(100vh - var(--hole-top) * 1px + var(--hole-height) * 1px);
    background-image: url(images/PipeBottom.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: top;
}

#floor {
    --x: 0;
    height: 150px;
    width: 100vw;
    position: absolute;
    background-image: url(images/Floor.png);
    background-size: 50%;
    background-repeat: repeat-x;
    background-position-y: top;
    background-position-x: calc(var(--x)*1px);
    bottom: 0;

}

#scoreboard {
    position: absolute;
    z-index: 1000;
    background-image: url("images/scoreboard.png");
    width: 565px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 50%;
    top: 50%;
    margin-left: -282.5px;
    margin-top: -145px;
    color: #d2aa4f;
    font-size: 30px;
    text-shadow: 0 5px 0 #f1f0a5;
    animation-name: AnimationScoreboard;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 750ms;
    transform: translateY(700px);
}

@keyframes AnimationScoreboard {
    from {
        opacity: 0;
        transform: translateY(700px)
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

#score {
    position: absolute;
    left: 80%;
    top: 30%;
}

#highscore {
    position: absolute;
    left: 80%;
    top: 68%;
}

#medal {
    z-index: 1500;
    position: absolute;
    width: 110px;
    height: auto;
    top: 105px;
    left: 65px;
    animation-name: AnimationMedal;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-delay: 1500ms;
    transform: translateY(10000px);
}

@keyframes AnimationMedal {
    from {
        opacity: 0;
        transform: translateY(-600px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.hide {
    display: none;
}

@font-face {
    font-family: "FlappyBird";
    src: url("fonts/flappy-font.ttf");
}

#gameover {
    opacity: 0;
    z-index: 500;
    width: 960px;
    height: 210px;
    position: absolute;
    background-image: url(images/gameover.png);
    background-size: 50%;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -235px;
    margin-top: -275px;
    animation-name: goAnimation;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    transition: animation;
}

@keyframes goAnimation {
    from {
        opacity: 0;
        transform: translateY(-300px)
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}